.container {
  padding-top: 40px;
  color: #333333;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .container {
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .container {
    max-width: 1024px;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1359px) {
  .container {
    max-width: 1280px;
  }
}

@media screen and (min-width: 1360px) {
  .container {
    max-width: 1360px;
  }
}

@media screen and (max-width: 767px) {
  .container :nth-child(n) {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .container :not(:last-child) {
    margin-bottom: 24px;
  }
}

.container > ul > li > picture > .casesImg,
.container > div > .blogImg {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .container > ul > li {
    margin-bottom: 0 !important;
  }
}

.whatWeDo {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
}

@media screen and (max-width: 767px) {
  .whatWeDo {
    font-size: 18px;
    line-height: 30px;
  }
}

@media screen and (min-width: 768px) {
  .whatWeDo {
    font-size: 20px;
    line-height: 33px;
  }
}

.title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 38px;
  line-height: 48px;
}

.description {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
}

@media screen and (max-width: 767px) {
  .description {
    font-size: 16px;
    line-height: 26px;
  }
}

@media screen and (min-width: 768px) {
  .description {
    font-size: 18px;
    line-height: 28px;
  }
}

@media screen and (max-width: 767px) {
  .casesContainer {
    padding-right: 20px;
    padding-left: 20px;
  }

  .casesContainer :not(:last-child) {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 768px) {
  .casesContainer {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .casesContainer > li {
    display: inline-block;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .casesContainer {
    gap: 18px;
    padding-right: 32px;
    padding-left: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .casesContainer {
    gap: 21px;
    padding-right: 28px;
    padding-left: 28px;
  }
}

.casesImg {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .casesImg {
    max-width: 421px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .casesImg {
    max-width: 223px;
  }
}

@media screen and (min-width: 1024px) {
  .casesImg {
    max-width: 421px;
  }
}

@media screen and (min-width: 768px) {
  .blogContainer {
    background-image: url('../../images/blog.jpg');
    background-size: contain;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .blogContainer {
    background-position: 150% 0;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .blogContainer {
    background-position: 274% 0;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1359px) {
  .blogContainer {
    background-size: 650px 430px;
    background-position: 204% 0;
  }
}

@media screen and (min-width: 1360px) {
  .blogContainer {
    background-size: 675px 430px;
    background-position: 199% 0;
  }
}

@media screen and (max-width: 767px) {
  .blogImg {
    width: 100%;
    max-width: 100vw;
  }
}

@media screen and (min-width: 768px) {
  .blogImg {
    display: none;
  }
}

.blogTextContainer {
  background-color: #0284d0;
  text-align: left;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .blogTextContainer {
    padding-left: 20px;
  }
}

@media screen and (min-width: 768px) {
  .blogTextContainer {
    box-sizing: border-box;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .blogTextContainer {
    width: 400px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 53px;
    padding-left: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .blogTextContainer {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-right: 56px;
    padding-left: 28px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .blogTextContainer {
    width: 600px;
  }
}

@media screen and (min-width: 1280px) {
  .blogTextContainer {
    width: 690px;
  }
}

.postDate {
  margin-bottom: 8px !important;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
}

@media screen and (max-width: 767px) {
  .postDate {
    font-size: 18px;
    line-height: 30px;
  }
}

@media screen and (min-width: 768px) {
  .postDate {
    font-size: 20px;
    line-height: 33px;
  }
}

.postTitle {
  margin-bottom: 24px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 38px;
  line-height: 48px;
}

.postText {
  margin-bottom: 24px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
}

@media screen and (max-width: 767px) {
  .postText {
    font-size: 16px;
    line-height: 26px;
  }
}

@media screen and (min-width: 768px) {
  .postText {
    font-size: 18px;
    line-height: 28px;
  }
}

.link {
  width: 100%;
  max-width: 196px;
  padding-top: 10px;
  padding-right: 31px;
  padding-bottom: 10px;
  padding-left: 41px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: #0284d0;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .link {
    font-size: 16px;
    line-height: 26px;
  }
}

@media screen and (min-width: 768px) {
  .link {
    font-size: 18px;
    line-height: 28px;
  }
}
