.container {
  padding-top: 40px;
  text-align: center;
  color: #333333;
}

@media screen and (min-width: 768px) {
  .container {
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .container {
    max-width: 1024px;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1359px) {
  .container {
    max-width: 1280px;
  }
}

@media screen and (min-width: 1360px) {
  .container {
    max-width: 1360px;
  }
}

.whoWeAre {
  margin-bottom: 20px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
}

@media screen and (max-width: 767px) {
  .whoWeAre {
    font-size: 18px;
    line-height: 30px;
  }
}

@media screen and (min-width: 768px) {
  .whoWeAre {
    font-size: 20px;
    line-height: 33px;
  }
}

.title {
  margin-bottom: 20px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 38px;
  line-height: 48px;
}

.description {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
}

@media screen and (max-width: 767px) {
  .description {
    font-size: 16px;
    line-height: 26px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .description {
    font-size: 17px;
    line-height: 28px;
  }
}

@media screen and (min-width: 1024px) {
  .description {
    font-size: 18px;
    line-height: 28px;
  }
}

.cardList {
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
}

@media screen and (min-width: 768px) {
  .cardList {
    display: grid;
    grid-template-columns: auto auto auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cardList {
    column-gap: 18px;
  }
}

@media screen and (min-width: 768px) {
  .cardList {
    column-gap: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .cardList > li {
    position: relative;
  }
}

@media screen and (max-width: 767px) {
  .cardList :not(:last-child) {
    margin-bottom: 20px;
  }
}

.cardListImg {
  width: 100%;
  max-width: 420px;
}

@media screen and (max-width: 1023px) {
  .hoverBlock {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .hoverBlock {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 72%;

    fill: #fff;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.4);
    opacity: 0;

    transform: translate(opacity);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-left: 0;
  }

  .list :not(:last-child) {
    margin-right: 25px;
  }

  .list > li > svg {
    width: 35px;
    height: 35px;
    fill: #fff;
  }

  .cardList > li:hover .hoverBlock {
    opacity: 1;
    cursor: pointer;
  }

  .cardList > li:hover .hoverBlock > ul > li:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1359px) {
  .hoverBlock {
    height: 76.5%;
  }
}

@media screen and (min-width: 1360px) {
  .hoverBlock {
    top: 0;
    left: 4px;

    width: 98%;
    height: 78.5%;
  }
}

.name {
  margin-bottom: 12px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
}

@media screen and (max-width: 767px) {
  .name {
    font-size: 23px;
    line-height: 29px;
  }
}

@media screen and (min-width: 768px) {
  .name {
    font-size: 25px;
    line-height: 32px;
  }
}

.position {
  margin-bottom: 0;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
}

@media screen and (max-width: 767px) {
  .position {
    font-size: 16px;
    line-height: 26px;
  }
}

@media screen and (min-width: 768px) {
  .position {
    font-size: 18px;
    line-height: 28px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .contactContainer {
    display: flex;
    justify-content: flex-end;
    background-image: image-set(
      url('../../images/contact.webp') 1x,
      url('../../images/contact@2x.webp') 2x,
      url('../../images/contact.jpg') 1x,
      url('../../images/contact@2x.jpg') 2x
    );
    background-size: 470px 357px;
    background-position: -25% 0px;
  }
}

@media screen and (min-width: 1024px) {
  .contactContainer {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .contactImg {
    width: 100%;
    max-width: 100vw;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .contactImg {
    display: none;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .contactImg {
    width: 100%;
    max-width: 555px;
    height: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .contactImg {
    width: 100%;
    max-width: 670px;
    height: 100%;
  }
}

.contactFormContainer {
  padding: 40px 20px;
  background-color: #f4f4f4;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .contactFormContainer {
    width: 400px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .contactFormContainer {
    width: 445px;
  }
}

@media screen and (min-width: 1280px) {
  .contactFormContainer {
    width: 690px;
  }
}

.contactFormTitle {
  width: 100%;
  margin-bottom: 32px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 38px;
  line-height: 48px;
}

@media screen and (max-width: 767px) {
  .contactFormTitle {
    max-width: 147px;
  }
}

.contactForm {
  text-align: center;
}

.contactForm > input {
  width: 100%;
  height: 40px;
}

.input {
  margin-bottom: 32px;
}

.inputSecond {
  margin-bottom: 40px;
}

.input,
.inputSecond {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 8px;
  border: none;
  outline: none;
}

.input::placeholder,
.inputSecond::placeholder {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  color: #808080;
}

@media screen and (max-width: 767px) {
  .input::placeholder,
  .inputSecond::placeholder {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .input::placeholder,
  .inputSecond::placeholder {
    font-size: 18px;
  }
}

@media screen and (max-width: 1023px) {
  .input::placeholder,
  .inputSecond::placeholder {
    line-height: 23px;
  }
}

@media screen and (min-width: 1024px) {
  .input::placeholder,
  .inputSecond::placeholder {
    line-height: 28px;
  }
}

.warning {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  color: #eb5757;
}

.warning > svg {
  margin-right: 5px;
}

.submitButton {
  padding: 10px 116px;
  width: 100%;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #28a745;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  color: #fff;
}

.submitButton:hover {
  background-color: rgba(40, 167, 69, 0.8);
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .submitButton {
    font-size: 16px;
    line-height: 22px;
  }
}

@media screen and (min-width: 768px) {
  .submitButton {
    font-size: 18px;
    line-height: 25px;
  }
}
