@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('Open Sans'),
    url('./fonts/OpenSans.ttf') format('ttf');
  font-display: swap;
}

body {
	font-family: 'Open Sans';
}

ul {
	list-style: none;
}