@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('Open Sans'),
    url('./fonts/OpenSans.ttf') format('ttf');
  font-display: swap;
}

html,
body,
a {
  box-sizing: border-box;
  font-family: 'Open Sans';
}

section {
  width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}
